<ion-header>
  <ion-toolbar>
    <ion-title>Cocktail Finder</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
      placeholder="Search"
      slot="start"
      (keyup.enter)="handleEnterKeyUp()"
      [formControl]="searchControl"
    />
    <ion-buttons slot="primary">
      <ion-button size="large" (click)="onSearchButtonClick()">
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>
      <ion-button size="large">
        <ion-icon name="dice-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">
  @if (isLoadingCocktails()) {
    <ion-spinner class="spinner" />
  } @else {
    <cf-cocktails-list [cocktails]="cocktails()" class="list" />
  }
</ion-content>
