<ion-header>
  <ion-toolbar>
    <ion-title>Cocktail Finder</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
      placeholder="Search"
      slot="start"
      (keyup.enter)="handleEnterKeyUp()"
      [formControl]="searchControl"
    />
    <ion-buttons slot="primary">
      <ion-button
        size="large"
        (click)="onSearchButtonClick()"
        [disabled]="isLoadingCocktailsList()"
      >
        <ion-icon name="search" />
      </ion-button>
      <ion-button
        size="large"
        (click)="onRandomCocktailButtonClick()"
        [disabled]="isLoadingRandomCocktail()"
      >
        <ion-icon name="dice" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">
  @if (isLoadingCocktailsList()) {
    <ion-spinner class="spinner" />
  } @else if (isSearchPerformed() && cocktails().length === 0) {
    <div class="no-results">
      <p class="body-1">No results</p>
    </div>
  } @else {
    <cf-cocktails-list [cocktails]="cocktails()" class="list" />
  }
</ion-content>
